ul{
    font-size: 15px;
}

h3{
    font-style: italic;
    font-size:15px;

}

.post-title{
    font-size:25px;
}

h1{
    text-align:center
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif
}